@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@300;500&family=Josefin+Sans:wght@300;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.fraunces-font {
  font-family: "Fraunces", serif;
}

.header-container {
  position: fixed;
  z-index: 1000;
  display: flex;
  background-color: #f6f7f5c5;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  padding: 20px 40px;
  align-items: baseline;
  justify-content: space-between;
  top: -200px;
  transition: all 300ms;
}

.show-header {
  top: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.header-icon {
  height: 60px;
  margin-right: 86px;
}

.nav-instagram {
  font-size: 20px;
}

.instagram-link {
  color: #1b2835;
  text-decoration: none;
  font-family: "Fraunces", serif;
}

.list-tiem-link {
  text-decoration: none;
  color: #1b2835;
  padding: 3px 15px;
  border-radius: 5px;
  border: 1px solid #1b2835;
}

.home-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60vh 1fr;
}

.home-img {
  height: 100%;
  background-image: url(./assets/recursos/foto-back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  position: relative;
}

#home-white-logo {
  position: absolute;
  height: 80px;
  left: 50%;
  top: 70px;
  transform: translate(-50%);
}

#imagen-lucas {
  position: absolute;
  height: 250px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  bottom: -40px;
  box-shadow: 5px 5px 10px rgba(58, 58, 58, 0.795);
}

.home-info {
  background-color: #f6f7f5;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.name-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #1b2835;
  gap: 1px;
}

.home-text {
  padding: 7px 10px;
  font-size: 30px;
  background-color: #f6f7f5;
  font-weight: 400;
}

.see-portfolio {
  text-decoration: none;
  color: #1b2835;
  font-family: "Fraunces", serif;
  border: 1px solid #1b2835;
  padding: 7px 20px;
  border-radius: 20px;
  cursor: pointer;
}

/* --------------------------------------------- */

/*                  PORTFOLIO                  */

/* --------------------------------------------- */

.portfolio-container {
  background-color: #f6f7f5;
  display: grid;
  padding: 110px 50px 50px 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: minmax(auto, 1fr);
  gap: 40px;
  max-width: 1600px;
  margin: auto;
}

.work-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 150ms;
  border-radius: 10px;
  overflow: hidden;
}

.work-container:hover {
  transform: scale(1.02);
  box-shadow: 5px 5px 5px rgba(100, 100, 100, 0.582);
}

.work-container:hover > .work-photo {
  filter: brightness(1);
}

.work-photo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0.85);
  transition: all 150ms;
}

.work-name {
  display: inline-block;
  position: absolute;
  top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #1b2835;
  background-color: #f6f7f5be;
  padding: 7px 15px 2px 15px;
  border-radius: 20px;
  line-height: 20px;
}

/* --------------------------------------------- */

/*                  WORKS SECTION                */

/* --------------------------------------------- */

.work-section {
  padding: 110px 50px 50px 50px;
  background-color: #f6f7f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 1600px;
  margin: auto;
}

.work-section-title {
  color: #1b2835;
  font-family: "Fraunces", serif;
  font-size: 30px;
}

.work-tags {
  color: #1b2835;
  font-weight: 400;
}

.work-section-image-grid {
  margin-top: 50px;
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.work-section-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: all 200ms;
}

.work-section-image:hover {
  filter: brightness(1.3);
}

/* --------------------------------------------- */

/*                  CONTACTO                     */

/* --------------------------------------------- */

.contact-container {
  background-color: #f6f7f5;
  padding: 110px 50px;
  display: flex;
  place-content: center;
  position: relative;
}

.blue-back {
  background-color: #1b2835;
  z-index: 0;
  position: absolute;
  height: 43%;
  width: 100vw;
  bottom: 0;
}

.contact-card {
  z-index: 10;
  border-radius: 30px;
  overflow: hidden;
  background-color: #f6f7f5;
  width: 70vw;
  box-shadow: 0 0 20px #0000004b;
  display: flex;
}

.contact-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}

.contact-text {
  font-size: 45px;
  color: #1b2835;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}

.contact-image {
  background-image: url(./assets/recursos/lucas-contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50%;
}

.input-control {
  padding: 8px 15px;
  background-color: #f6f7f5;
  border: 1px solid #1b2835;
  border-radius: 5px;
  font-family: "Fraunces", serif;
}

.input-control::placeholder {
  font-family: "Fraunces", serif;
  font-weight: 200;
  color: #4e6072bb;
}

.textarea-input-control {
  resize: none;
  height: 100px;
}

.submit-btn {
  align-self: flex-end;
  background-color: #1b2835;
  color: #f6f7f5;
  font-size: 15px;
}

.footer-container {
  background-color: #1b2835;
  border-top: 1px solid #f6f7f5;
  padding: 30px;
}

.copyright {
  font-size: 15px;
  color: #f6f7f5;
  font-weight: 400;
  text-align: center;
}

.license-link {
  color: #f6f7f5;
  font-weight: 600;
}
